<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.onemile.oneshot"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>One Shot</name>

  <description>
      One Shot photo app.
  </description>

  <author>
      Mel Booth, Ursula Frickey, Harrison Symes, Katherine Nagels
  </author>

  <!-- <plugin name="cordova-plugin-camera"/> -->

</widget>
